{# This file contains functions to display stylized links #}

{# Constructs a link styled like a button
http://dev.webstyleguide.ucdavis.edu/redesign/?p=viewall-atoms-buttons
kwargs:
  content (string) - link text - required.
  href (string) - link url
  newTab (boolean) - link will open in new tab
  modifiers (string) - space delimited list of style modifiers without the btn-- prefix. 
    Takes precedence over the following individually listed modifiers:
  size (string) - size modifier
  shape (string) - shape modifier
  display (string) - display modifier
  altStyle (string) - alternative theme style modifier

#}
{% macro button(kwargs) %}

  {% if kwargs is iterable and kwargs.content %}
    {% set classes = "btn" %}

    {% if kwargs.href %}
      {% set href = "href='"~kwargs.href~"'" %}
    {% endif %}

    {% if kwargs.newTab %}
      {% set target = "target='_blank'" %}
    {% endif %}

    {% if kwargs.modifiers %}
      {% set classes = classes ~ " " ~ kwargs.modifiers|split(" ")|map(m => "btn--"~m)|join(" ") %}
    {% else %}
      {% for m in [kwargs.size, kwargs.shape, kwargs.display, kwargs.altStyle] %}
        {% if m %}
          {% set classes = classes ~ " btn--" ~ m %}
        {% endif %}
      {% endfor %}
      {% if kwargs.className %}
        {% set classes = classes ~ " btn--" ~ kwargs.className|replace({'is-style-': ''}) %}
      {% endif %}
    {% endif %}

    <p><a {{href}} {{target}} class="{{classes}}">{{kwargs.content}}</a></p>
  {% endif %}
  
{% endmacro %}

{#
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-marketing-highlight-horizontal
kwargs:
  post {Timber\Post} - A post on this site.
  imageId {Number} - Id of an image. Will override 'post' featured image
  image {Timber\Image} - A preview image. Will override 'post' featured image and imageId
  title {String} - The card title. Will override 'post' title
  hideTitle {Boolean} - Hides the card title.
  href {String} - Url for card link. Will override 'post' permalink
  newTab {Boolean} - Opens card link in new tab
  brandColor {String} - UCD alt color slug
#}
{% macro marketing_highlight_horizontal( kwargs ) %}

  {% set title = kwargs.title ? kwargs.title : kwargs.post.title %}
  {% set href = kwargs.href ? kwargs.href : kwargs.post.link %}
  {% set target = kwargs.newTab ? "target='_blank'" : "" %}

  {% if kwargs.image %}
    {% set src = kwargs.image.src %}
    {% set alt = kwargs.image.alt %}
  {% elseif kwargs.imageId %}
    {% set i = Image(kwargs.imageId) %}
    {% set src = i.src %}
    {% set alt = i.alt %}
  {% elseif kwargs.post.thumbnail %}
    {% set src = kwargs.post.thumbnail.src %}
    {% set alt = kwargs.post.thumbnail.alt %}
  {% else %}
    {% set src = DefaultImage('marketing-highlight-horizontal') %}
  {% endif %}
   

  {% set classes = 'marketing-highlight-horizontal' %}
  {% if kwargs.brandColor %}
    {% set classes = classes ~ " category-brand--" ~ kwargs.brandColor %}
  {% endif %}


  <a href="{{href}}" class="{{classes}}" {{target}}>
    <div class="marketing-highlight-horizontal__image aspect--16x9">
      <img src="{{src}}" alt="{{alt}}" width="640" height="480" loading="lazy" />
    </div>
    {% if not kwargs.hideTitle %}
      <div class="marketing-highlight-horizontal__body">
        <h3 class="marketing-highlight-horizontal__title">{{title}}</h3>
      </div>
    {% endif %}
  </a>
{% endmacro %}