{% from getUcdMacro('placeholders') import breadcrumbs as render_crumbs %}

{% block html_head_container %}
  {% include getUcdPartial('html-header') %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

	<body class="{{body_class}}">
  <a href="#main-content" class="u-hidden--visually">Skip to main content</a>
		
  {% block header %}
    {% include getUcdPartial('header') %}
	{% endblock %}


		<main id="main-content" class="l-main">
      {% block page_title %}
        {% if title %}
          <h1 class="page-title {{brandColor ? 'category-brand--'~brandColor }}">{{title}}</h1>
        {% endif %}
      {% endblock %}

      {% block breadcrumbs %}
        {% if breadcrumbs %}
          {{render_crumbs()}}
        {% endif %}
      {% endblock %}

      {% block content_container %}
        <div class="l-container">
          <div class="l-content">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      {% endblock %}
		</main>

		{% block footer %}
			{% include getUcdPartial('footer') %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
