
{% block html_head_container %}
  {% include getUcdPartial('html-header') %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

	<body class="{{body_class}}">
  <a href="#main-content" class="u-hidden--visually">Skip to main content</a>
		
  {% block header %}
    {% from getUcdMacro('menus') import primary_nav %}
    <ucd-theme-header
        site-name="{{site.name}}"
        figure-src="{{static_uri ~ "/img/book-logo.png"}}">
      {{primary_nav({menu: menu.primary})}}
    </ucd-theme-header>
	{% endblock %}


		<main id="main-content" class="l-main">
      {% block page_title %}
        {% if title %}<h1 class="page-title">{{title}}</h1>{% endif %}
      {% endblock %}

      {% block breadcrumbs %}
      {% endblock %}

      {% block content_container %}
        <div class="l-container">
          <div class="l-content">

            {% block content %}
              Sorry, no content
            {% endblock %}
          </div>
        </div>
      {% endblock %}
		</main>

		{% block footer %}
			<footer id="footer">
				{% include getUcdPartial('footer') %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
