{% extends getUcdTemplate('base') %}

{% from getUcdMacro('cards') import teaser %}
{% from getUcdMacro('links') import pagination %}

{% block content_container %}
  <div class="l-container {{not hideSidebar ? 'l-basic'}}{{rightSidebar and not hideSidebar ? '--flipped'}}">

    <div class="l-content">

      <div class="panel o-box">
        {% if latest_news_title %}
          <h2 class="panel__title">{{latest_news_title}}</h2>
        {% endif %}
        <section class="latest-news">
          {% if posts.found_posts %}
            {% for post in posts %}
              {{ teaser({post}) }}
            {% endfor %}

            {{ pagination({"pagination": posts.pagination}) }}
          {% else %}
            <div class="alert">No {{theme.theme_mod('layout_posts_title', 'posts')}} found for specified date range!</div>
          {% endif %}
        </section>
      </div>
    </div>

    {% if not hideSidebar %}
      <div class="l-sidebar-second">
        {% if sidebar %}
          {{sidebar}}
         {% else %}
          {% include getUcdSidebarDefault('post-archive') %}
         {% endif %} 
      </div>
    {% endif %}

  </div>

{% endblock %}