{% extends getUcdTemplate('base') %}

{% from getUcdMacro('cards') import teaser %}
{% from getUcdMacro('links') import pagination %}

{% block content_container %}
  <div class="l-container {{not hideSidebar ? 'l-basic'}}{{rightSidebar and not hideSidebar ? '--flipped'}}">

    <div class="l-content">
      {% if not is_paged and page_for_posts.location == 'top' %}
        <div class="panel o-box">
          {{ page_for_posts.post.content }}
        </div>
      {% endif %}

      <div class="panel o-box">
        {% if latest_news_title %}
          <h2 class="panel__title">{{latest_news_title}}</h2>
        {% endif %}
        <section class="latest-news">
          {% if posts %}
            {% for post in posts %}
              {{ teaser({post}) }}
            {% endfor %}

            {{ pagination({"pagination": posts.pagination}) }}
          {% endif %}
        </section>
      </div>

      {% if not is_paged and page_for_posts.location == 'bottom' %}
        <div class="panel o-box">
          {{ page_for_posts.post.content }}
        </div>
      {% endif %}
    </div>

    {% if not hideSidebar %}
      <div class="l-sidebar-second">
        {% if sidebar %}
          {{sidebar}}
         {% else %}
          {% include getUcdSidebarDefault('post-archive') %}
         {% endif %} 
      </div>
    {% endif %}

  </div>

{% endblock %}