{% extends getUcdTemplate('base') %}
{% from getUcdMacro('links') import tag_list, category_filter %}
{% from getUcdMacro('placeholders') import sidebar_placeholder %}

{% block page_title %}
{% endblock %}

{% block content_container %}
  <div class="l-container {{ theme.theme_mod('layout_post_sidebar_flipped') ? 'l-basic--flipped' : 'l-basic' }}">
    
    <div class="l-content">
      <div class="panel o-box">

        {% if post.thumbnail %}
          <div class="figcaption--left">
            <figure class="u-block">
              <div class="aspect--16x9">
                <img src="{{post.thumbnail.src|resize(1280, 720)}}" alt="16x9 Image" loading="lazy" width="1280" height="720">
              </div>
            {% if post.thumbnail.caption %}
              <figcaption class="u-block">{{ post.thumbnail.caption }}</figcaption>
            {% endif %}
            </figure>
          </div>
        {% endif %}

        <h1 class="article__title">{{ title }}</h1>
        {% if post.meta('ucd_subtitle') %}
          <h2 class="article__subtitle">{{ post.meta('ucd_subtitle') }}</h2>
        {% endif %}

        <ul class="list--pipe byline byline--italic">
          <li>{{post.author.name}}</li>
          <li>{{ post.date }}</li>
        </ul>

        <div class="u-clearfix">
          {{post.content}}
        </div>

        {% if post.tags %}
          <h2 class="heading--auxiliary">Tags</h2>
          {{ tag_list({"terms": post.tags}) }}
        {% endif %}
        
      </div>
      
    </div>

    <div class="l-sidebar-second">
      {% include getUcdHook('post') with {'hook': 'sidebarTop'} %}

      {% for panel in sidebar_panels %}
        {% if not panel.hide %}
          <div class="panel o-box">
            {% if panel.title %}
              <h2 class="panel__title">{{ panel.title }}</h2>
            {% endif %}
            {% if panel.slug == 'person_card' %}
              {{sidebar_placeholder(panel.slug)}}
            {% elseif panel.slug == 'people_list' %}
              {{sidebar_placeholder(panel.slug)}}
            {% elseif panel.slug == 'categories' %}
              {{ category_filter({'terms': categories}) }}
            {% elseif panel.slug == 'related_articles' %}
              {{sidebar_placeholder(panel.slug)}}
            {% endif %}
          </div>
        {% endif %}
        
      {% endfor %}

      {% include getUcdHook('post') with {'hook': 'sidebarBottom'} %}
    </div>

  </div>
  
{% endblock %}