{% extends getUcdTemplate('base') %}

{% from getUcdMacro('lists') import teaser %}
{% from getUcdMacro('links') import pagination %}

{% block content_container %}
  <div class="l-container {{not hideSidebar ? 'l-basic'}}{{rightSidebar and not hideSidebar ? '--flipped'}}">

    <div class="l-content">

      <div class="panel o-box">

        {% if not theme.theme_mod('layout_author_picture_hide') and profilePictures.src %}
          <div class="u-align--right u-width--one-third">
            <div class="aspect--520x580">
              <img src="{{profilePictures.src}}" alt="Profile Highlight Image" width="520" height="580" loading="lazy" />
            </div>
          </div>
        {% endif %}

        {% include getUcdHook('author') with {'hook': 'top'} %}
          
        {% if orgPositionTitle %}
          {% for position in orgPositionTitle|split("\n") %}
            {% set position = position|trim %}
            {% if position %}
              <h2 class="person__position-title">{{ position }}</h2>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if orgUnit %}
          <ul class="unit-list">
            {% for unit in orgUnit|split("\n") %}
              {% set unit = unit|trim %}
              {% if unit %}
                <li>{{ unit }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}

        {% if preferredPronouns %}
          <div class="person__pronoun">{{ preferredPronouns }}</div>
        {% endif %}

        {% include getUcdHook('author') with {'hook': 'aboveContactList'} %}

        <ul class="list--pipe u-space-mb">
          {% if phone_1 %}
            <li class="icon icon--phone">{{ phone_1 }}</li>
          {% endif %}
          {% if phone_2 %}
            <li class="icon icon--phone">{{ phone_2 }}</li>
          {% endif %}
          {% if emailToDisplay %}
            <li class="icon icon--link icon--envelope"><a href="mailto={{ emailToDisplay }}">{{ emailToDisplay }}</a></li>
          {% endif %}
          {% if author.user_url %}
            <li class="icon icon--link icon--web"><a href="{{ author.user_url }}">{{ author.user_url }}</a></li>
          {% endif %}
          {% if officeRoom %}
            <li class="icon icon--location">{{ officeRoom }}</li>
          {% endif %}
          {% if officeAddress %}
            <li class="icon icon--map">{{ officeAddress }}</li>
          {% endif %}
        </ul>
        {% if officeHours %}
          <label for="office-hours">Office Hours</label>
          <p id="office-hours">{{ officeHours|nl2br }}</p>
        {% endif %}
        {% include getUcdHook('author') with {'hook': 'aboveDescription'} %}
        {% if description %}
          <p>{{ description|nl2br }}</p>
        {% endif %}
        {% include getUcdHook('author') with {'hook': 'bottom'} %}

      </div>
    </div>

    {% if not hideSidebar %}
      <div class="l-sidebar-second">
        {% if sidebar %}
          {{sidebar}}
         {% else %}
          {% include getUcdSidebarDefault('single-author') %}
         {% endif %} 
      </div>
    {% endif %}

  </div>

{% endblock %}