{% from getUcdMacro('links') import breadcrumbs as render_crumbs %}
{% from getUcdMacro('media') import image_title_banner %}

{% block html_head_container %}
  {% include getUcdPartial('html-header') %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

	<body class="{{body_class}}">
  <a href="#main-content" class="u-hidden--visually">Skip to main content</a>
		
  {% block header %}
    {% include getUcdPartial('header') %}
	{% endblock %}


		<main id="main-content" class="l-main">
      {% block hero_image %}
        {{ image_title_banner(post.hero) }}
      {% endblock %}

      {% block page_title %}
        {% if title and not post.hide_title %}
          {% if brandColor %}
            {% set colorClass = 'category-brand--'~brandColor %}
          {% elseif post.brand_color %}
            {% set colorClass = 'category-brand--'~post.brand_color %}
          {% endif %}
          <section>
            <h1 class="page-title {{colorClass}}">{{title}}</h1>
          </section>
        {% endif %}
      {% endblock %}

      {% block breadcrumbs %}
        {% if breadcrumbs and not post.hide_breadcrumbs %}
          {{render_crumbs(post.breadcrumbs)}}
        {% endif %}
      {% endblock %}

      {% block content_container %}
        <div class="l-container">
          <div class="l-content">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      {% endblock %}
		</main>

		{% block footer %}
			{% include getUcdPartial('footer') %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
