{% extends getUcdTemplate('base') %}

{% from getUcdMacro('lists') import teaser %}
{% from getUcdMacro('links') import pagination, marketing_highlight_horizontal %}

{% block content_container %}
  <div class="l-container {{not hideSidebar ? 'l-basic'}}{{rightSidebar and not hideSidebar ? '--flipped'}}">

    <div class="l-content">
      {% if not is_paged and isBasicPostsQuery() and page_for_posts.location == 'top' %}
        <div class="panel o-box">
          {{ page_for_posts.post.content }}
        </div>
      {% endif %}

      {% for post in posts %}
        {% if post.is_sticky %}
        <div class="panel o-box">
          {{marketing_highlight_horizontal({post, brandColor: post.brand_color})}}
        </div>

        {% endif %}
      {% endfor %}

      <div class="panel o-box">

        {% if latest_news_title %}
          <h2 class="panel__title">{{latest_news_title}}</h2>
        {% endif %}
        <section class="latest-news">
          
          {% if posts.found_posts %}
            {% for post in posts %}
              {% if not post.is_sticky %}
                {{ teaser({post, partOfQuery: true, hideExcerpt: true}) }}
              {% endif %}
            {% endfor %}

            {{ pagination({"pagination": posts.pagination}) }}
          {% else %}
            <div class="alert">No {{theme.theme_mod('layout_posts_title', 'posts')}} found!</div>
          {% endif %}

        </section>
      </div>

      {% if not is_paged and isBasicPostsQuery() and page_for_posts.location == 'bottom' %}
        <div class="panel o-box">
          {{ page_for_posts.post.content }}
        </div>
      {% endif %}
    </div>

    {% if not hideSidebar %}
      <div class="l-sidebar-second">
        {% if sidebar %}
          {{sidebar}}
         {% else %}
          {% include getUcdSidebarDefault('post-archive') %}
         {% endif %} 
      </div>
    {% endif %}

  </div>

{% endblock %}