{% macro label() %}
  <label for="brand-color">Brand Color</label>
{% endmacro %}

{% macro input(selected_color) %}
  <input type="text" size="40" value="{{selected_color}}" id="brand-color" name="brand-color">
  <p class="description">Must be a recognized UCD theme branding class e.g. 'putah-creek'</p>
{% endmacro %}

{% if current_filter ends with 'edit_form_fields' %}
  <tr class="form-field">
    <th valign="top" scope="row">{{_self.label()}}</th>
      <td>
        {{_self.input(selected_color)}}
      </td>
  </tr> 

{% elseif current_filter ends with 'add_form_fields' %}
  <div class="form-field">
    {{_self.label()}}
    {{_self.input(selected_color)}}
  </div>  

{% endif %}