{# This file contains functions to display site menus #}

{# 
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-primary-nav
https://ucdlib-theme-demo-akwemh35fa-uc.a.run.app/#ucd-theme-primary-nav
kwargs:
  menu {Timber\Menu} - A registered Timber Menu
  navType {String} - Component attribute
  styleModifiers {String} - Component attribute
#}
{% macro primary_nav(kwargs={}) %}
  {% if kwargs.menu %}
    {% set navType = kwargs.navType ? "nav-type='" ~ kwargs.navType ~ "'" : "" %}
    {% set styleModifiers = kwargs.styleModifiers ? "style-modifiers='" ~ kwargs.styleModifiers ~ "'" : "" %}

    <ucd-theme-primary-nav {{navType}} {{styleModifiers}}>
      {% for item in kwargs.menu.items %}
        
        {% if item.children %}
          <ul link-text="{{item.title}}" href="{{item.link}}">
          {% for child in item.children %}

            {% if child.children and kwargs.navType != "mega" %}
              <ul link-text="{{child.title}}" href="{{child.link}}">
                {% for grandchild in child.children %}
                  <li><a href="{{ grandchild.link }}" {{ grandchild.is_target_blank ? 'target="_blank"' }}>{{ grandchild.title }}</a></li>
                {% endfor %}
              </ul>

            {% else %}
              <li><a href="{{ child.link }}" {{ child.is_target_blank ? 'target="_blank"' }}>{{ child.title }}</a></li>
            {% endif %}

          {% endfor %}
          </ul>

        {% else %}
          <a href="{{ item.link }}" {{ item.is_target_blank ? 'target="_blank"' }}>{{ item.title }}</a>
        {% endif %}
        
      {% endfor %}

    </ucd-theme-primary-nav>
  {% endif %}
{% endmacro %}