{% from getUcdMacro('menus') import footer_nav, list_pipe %}

<footer class="l-footer footer dark-background {{post.meta('ucd_footer_mt_flush') ? 'u-space-mt--flush'}}">
  <div class="l-container">

    {{widgets_footer_columns}}

    {% include getUcdHook('footer') with {'hook': 'postColumns'} %}

    <div class="footer-spacer">
      <div class="footer-spacer__logo">
        <a href="https://www.ucdavis.edu/">
          <img src="{{ get_sf_image('aggie-logo-white.svg') }}" class="ucd-logo" alt="UC Davis footer logo" loading="lazy" width="180" height="140">
        </a>
      </div>
    </div>

    {% include getUcdHook('footer') with {'hook': 'postSpacer'} %}

    <div class="uc-footer">
      <p><a href="https://www.ucdavis.edu/">University of California, Davis</a>, One Shields Avenue, Davis, CA 95616 | 530-752-1011</p>
      <ul class="list--pipe">
        {% if menu.copyright %}
          {% for item in menu.copyright.items %}
            <li>
              <a href="{{ item.link }}" {{ item.is_target_blank ? 'target="_blank"' }}>{{ item.title }}</a>
            </li>
          {% endfor %}
          <li>
              Last update: August 16, 2022
          </li>
        {% endif %}
      </ul>
      <p>Copyright © The Regents of the University of California, Davis campus. All rights reserved.</p>
    </div>
    <div class="u-align--center u-space-mt--large">This site is officially grown in <a href="https://sitefarm.ucdavis.edu">SiteFarm</a>.</div>

    {% if not theme.theme_mod('footer_hide_build') %}
      <div class="u-align--center">
        <ul class="list--pipe">
          {% for param in site.buildParams %}
            {% if param.value %}
              <li>{{param.label}}{{param.value}}</li>
            {% endif %}
          {% endfor %}
          <li><a href="{{ theme.get('ThemeURI') }}">Theme: {{theme.version}}</a></li>
          {% include getUcdHook('footer') with {'hook': 'postBuild'} %}
        </ul>
      </div>
    {% endif %}

    {% include getUcdHook('footer') with {'hook': 'bottom'} %}
  </div> {# .l-container #}

</footer>