
      <div style={{"background-color:#FFFFFF;padding:5px;color:red;"}}>
      <div style={{"display:inline-block; margin-right:7px;"}}>
      <ucdlib-icon style={{"color:red;min-width:15px;"}} icon="ucd-public:fa-circle-exclamation"></ucdlib-icon>
      </div>
      <div style={{"display:inline-block;vertical-align:top"}}><b>{{content}}</b></div>
    </div>