{% if attributes.collapsible %}
<ucd-theme-brand-textbox 
    brand-color={{attributes.brandColor ? attributes.brandColor : ''}}
    {{attributes.collapsible ? 'collapsible'}}
    class="{{attributes.float ? 'u-align--'~attributes.float}}">
    <div class="category-brand__background {{attributes.brandColor ? 'category-brand--'~attributes.brandColor}}">
    {{content}}
    </div>
</ucd-theme-brand-textbox>
{% else %}
  <section class="brand-textbox category-brand__background {{attributes.brandColor ? 'category-brand--'~attributes.brandColor}} {{attributes.float ? 'u-align--'~attributes.float}}">
  {{content}}
  </section>
{% endif %}