{% set brandColor = attributes.brandColor ?  attributes.brandColor : 'admin-blue' %}
{% if attributes.collapsible %}
<ucd-theme-brand-textbox
    brand-color={{brandColor}}
    {{attributes.collapsible ? 'collapsible'}}
    class="{{attributes.float ? 'u-align--'~attributes.float}}">
    <div class="category-brand__background colored-section {{brandColor ? 'category-brand--'~brandColor}}">
    {{content}}
    </div>
</ucd-theme-brand-textbox>
{% else %}
  <section
    class="colored-section brand-textbox category-brand__background {{brandColor ? 'category-brand--'~brandColor}} {{attributes.float ? 'u-align--'~attributes.float}}">
  {{content}}
  </section>
{% endif %}
