{% if attributes.title and 'now'|date('Y-m-d') <= attributes.finalFilingDate|date('Y-m-d') %} 
    {% set salaryFrequency = attributes.salaryFrequency is null ? 'HOUR' : attributes.salaryFrequency %}
    {% set employmentType = attributes.employmentType is null ? 'FULL_TIME' : attributes.employmentType %}
    <li class="job-posting">
        <a href="{{attributes.link}}" target="_blank"><strong>{{attributes.title}}</strong></a><br/>
        {% if attributes.description %} 
            <span class="subtext">{{attributes.description}}</span><br/>
        {% endif %}
        <span class="subtext"><strong>Salary: </strong> ${{attributes.salaryMin|number_format(0, '.', ',')}} - ${{attributes.salaryMax|number_format(0, '.', ',')}}/<span>{{salaryFrequency|capitalize}}</span></span><br/>
        <span class="subtext"><strong>Final Filing Date:</strong> {{attributes.finalFilingDate|date('F j, Y')}}</span><br/>
        {% if attributes.relatedMaterials %} 
            <span class="subtext"><strong>Related Materials:</strong> 
                <ul class="list--pipe" style="display: inline-block">
                {% for material in attributes.relatedMaterials %}
                    <li>
                        <a href="{{ material.value }}">
                        {% if material.label|trim|length %}
                            {{ material.label }}
                        {% else %}
                            {{ material.value }}
                        {% endif %}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </span>
        {% endif %}
    </li>
    <script type="application/ld+json">
    {
        "@context" : "https://schema.org/",
        "@type" : "JobPosting",
        "title" : "{{attributes.title}}",
        "identifier" => array(
            "@type" => "PropertyValue",
            "name" => "UC Davis Library",
            "value" => $post->id
        ),
        "validThrough" : "{{attributes.finalFilingDate}}",
        "employmentType" : "${{attributes.employmentType}}",
        "hiringOrganization" => array(
            "@type" => "Organization",
            "name" => "UC Davis Library",
            "sameAs" => "https://www.library.ucdavis.edu/",
            "logo" => "https://www.library.ucdavis.edu/wp-content/themes/ucdlib-theme-wp/assets/img/site-icon.png"
        ),
        "jobLocation": {
            "@type": "Place",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "1 Shields Ave",
                "addressLocality": "Davis",
                "addressRegion": "CA",
                "postalCode": "95616",
                "addressCountry": "US"
            }
        },
        "baseSalary": {
            "@type": "MonetaryAmount",
            "currency": "USD",
            "value": {
                "@type": "QuantitativeValue",
                "value": "{{attributes.salaryMin}} - {{attributes.salaryMax}}",
                "unitText": "{{attributes.salaryFrequency}}"
            }
        }
    }
    </script>
{% endif %}
