<div class="social-follow">
  {% if attributes.facebookUrl %}
    <a href="{{attributes.facebookUrl}}" alt="Facebook icon link" class="social-follow__facebook" target="_blank"></a>
  {% endif %}

  {% if attributes.twitterUrl %}
    <a href="{{attributes.twitterUrl}}" alt="Twitter icon link" class="social-follow__twitter" target="_blank"></a>
  {% endif %}

  {% if attributes.instagramUrl %}
    <a href="{{attributes.instagramUrl}}" alt="Instagram icon link" class="social-follow__instagram" target="_blank"></a>
  {% endif %}

  {% if attributes.youtubeUrl %}
    <a href="{{attributes.youtubeUrl}}" alt="YouTube icon link" class="social-follow__youtube" target="_blank"></a>
  {% endif %}

  {% if attributes.linkedinUrl %}
    <a href="{{attributes.linkedinUrl}}" alt="LinkedIn icon link" class="social-follow__linkedin" target="_blank"></a>
  {% endif %}
</div>