{% if attributes.facebookUrl %}
  <a href="{{attributes.facebookUrl}}" alt="Facebook icon link" target="_blank"><ucdlib-icon icon='ucd-public:facebook' class="media-icon"></ucdlib-icon></a>
{% endif %}

{% if attributes.twitterUrl %}
  <a href="{{attributes.twitterUrl}}" alt="Twitter icon link" target="_blank"><ucdlib-icon icon='ucd-public:twitter' class="media-icon"></ucdlib-icon></a>
{% endif %}

{% if attributes.instagramUrl %}
  <a href="{{attributes.instagramUrl}}" alt="Instagram icon link" target="_blank"><ucdlib-icon icon='ucd-public:instagram' class="media-icon"></ucdlib-icon></a>
{% endif %}

{% if attributes.youtubeUrl %}
  <a href="{{attributes.youtubeUrl}}" alt="YouTube icon link" target="_blank"><ucdlib-icon icon='ucd-public:youtube' class="media-icon"></ucdlib-icon></a>
{% endif %}

{% if attributes.linkedinUrl %}
  <a href="{{attributes.linkedinUrl}}" alt="LinkedIn icon link" target="_blank"><ucdlib-icon icon='ucd-public:linkedin' class="media-icon"></ucdlib-icon></a>
{% endif %}