{# This file contains functions to display site cards #}

{#
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-marketing-highlight
kwargs:
  post {Timber\Post} - A post on this site.
  imageId {Number} - Id of an image. Will override 'post' featured image
  image {Timber\Image} - A preview image. Will override 'post' featured image and imageId
  title {String} - The card title. Will override 'post' title
  hideTitle {Boolean} - Hides the card title.
  href {String} - Url for card link. Will override 'post' permalink
  newTab {Boolean} - Opens card link in new tab
  badge {String} - Text for badge that overlays card image
  hideBadge {Boolean} - Hides the badge image overlay
  excerpt {String} - Body/preview text of card. Will override 'post' excerpt
  hideExcerpt {Boolean} - Hides the excerpt text
  buttonText {String} - Innertext of card button
  hideButton {Boolean} - Hides card button
  featured {Boolean} - Use the alternative "featured" design
  brandColor {String} - UCD alt color slug
#}
{% macro marketing_highlight( kwargs ) %}

  {% set title = kwargs.title ? kwargs.title : kwargs.post.title %}
  {% set title = title|striptags %}
  {% set excerpt = kwargs.excerpt ? kwargs.excerpt : kwargs.post.excerpt({ read_more: '' }) %}
  {% set buttonText = kwargs.buttonText ? kwargs.buttonText : "More Info" %}
  {% set href = kwargs.href ? kwargs.href : kwargs.post.link %}
  {% set target = kwargs.newTab ? "target='_blank'" : "" %}

  {% if kwargs.image %}
    {% set src = kwargs.image.src %}
    {% set alt = kwargs.image.alt %}
  {% elseif kwargs.imageId %}
    {% set i = get_post(kwargs.imageId) %}
    {% set src = i.src %}
    {% set alt = i.alt %}
  {% elseif kwargs.post.card_image %}
    {% set src = kwargs.post.card_image.src %}
    {% set alt = kwargs.post.card_image.alt %}
  {% endif %}

  {% if not src %}
    {% set src = DefaultImage('marketing-highlight') %}
  {% endif %}

  {% if alt %}
    {% set alt = alt|striptags %}
  {% endif %}


  {% set classes = 'marketing-highlight' %}
  {% if kwargs.featured %}
    {% set classes = classes ~ " marketing-highlight--featured" %}
  {% endif %}
  {% if kwargs.brandColor %}
    {% set classes = classes ~ " category-brand--" ~ kwargs.brandColor %}
  {% endif %}
  {% if kwargs.panel %}
    {% set classes = classes ~ " u-space-mb" %}
  {% endif %}
  {% if kwargs.oBox %}
    {% set classes = classes ~ " o-box" %}
  {% endif %}


  <a href="{{href}}" class="{{classes}}" {{target}}>
    <div class="marketing-highlight__image">
      <div class="aspect--4x3 u-background-image" role='img' aria-label='{{alt}}' style="background-image:url({{src}});"></div>
      {% if kwargs.badge and not kwargs.hideBadge %}
        <h3 class="marketing-highlight__type"><span>{{kwargs.badge}}</span></h3>
      {% endif %}
    </div>
    {% if not (kwargs.hideTitle and kwargs.hideExcerpt and kwargs.hideButton) %}
      <div class="marketing-highlight__body">
        {% if title and not kwargs.hideTitle %}
          <h3 class="marketing-highlight__title">{{title}}</h3>
        {% endif %}
        {% if excerpt and not kwargs.hideExcerpt %}
          <p>{{excerpt}}</p>
        {% endif %}
        {% if buttonText and not kwargs.hideButton %}
          <span class="marketing-highlight__cta">{{buttonText}}</span>
        {% endif %}
      </div>
    {% endif %}

  </a>
{% endmacro %}

{#
http://webstyleguide.ucdavis.edu/?p=molecules-tile-link
kwargs:
  post {Timber\Post} - A post on this site.
  imageId {Number} - Id of an image. Will override 'post' featured image
  image {Timber\Image} - A preview image. Will override 'post' featured image and imageId
  title {String} - The card title. Will override 'post' title
  hideTitle {Boolean} - Hides the card title.
  href {String} - Url for card link. Will override 'post' permalink
  newTab {Boolean} - Opens card link in new tab
  excerpt {String} - Body/preview text of card. Will override 'post' excerpt
  hideExcerpt {Boolean} - Hides the excerpt text
  brandColor {String} - UCD alt color slug
#}
{% macro tile_link( kwargs ) %}

  {% set title = kwargs.title ? kwargs.title : kwargs.post.title %}
  {% set title = title|striptags %}
  {% set excerpt = kwargs.excerpt ? kwargs.excerpt : kwargs.post.excerpt({ read_more: '' }) %}
  {% set href = kwargs.href ? kwargs.href : kwargs.post.link %}
  {% set target = kwargs.newTab ? "target='_blank'" : "" %}

  {% if kwargs.image %}
    {% set src = kwargs.image.src %}
    {% set alt = kwargs.image.alt %}
  {% elseif kwargs.imageId %}
    {% set i = get_post(kwargs.imageId) %}
    {% set src = i.src %}
    {% set alt = i.alt %}
  {% elseif kwargs.post.card_image_square %}
    {% set src = kwargs.post.card_image_square.src %}
    {% set alt = kwargs.post.card_image_square.alt %}
  {% endif %}

  {% if not src %}
    {% set src = DefaultImage('tile-link') %}
  {% endif %}

  {% if alt %}
    {% set alt = alt|striptags %}
  {% endif %}


  {% set classes = 'tile-link' %}
  {% if kwargs.brandColor %}
    {% set classes = classes ~ " category-brand--" ~ kwargs.brandColor %}
  {% endif %}
  {% if kwargs.panel %}
    {% set classes = classes ~ " u-space-mb" %}
  {% endif %}
  {#
  {% if kwargs.oBox %}
    {% set classes = classes ~ " o-box" %}
  {% endif %}
  #}

  <a href="{{href}}" class="{{classes}}" {{target}}>
    {% if title and not kwargs.hideTitle %}
      <div class="tile-link__title">
        <h3 class="tile-link__title-heading">{{title}}</h3>
      </div>
    {% endif %}
    {% if excerpt and not kwargs.hideExcerpt %}
      <div class="tile-link__description">
        <p>{{excerpt}}</p>
      </div>
    {% endif %}
    <div class="tile-link__indicator">
      <svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path d="M504 256C504 119 393 8 256 8S8 119 8 256s111 248 248 248 248-111 248-248zm-448 0c0-110.5 89.5-200 200-200s200 89.5 200 200-89.5 200-200 200S56 366.5 56 256zm72 20v-40c0-6.6 5.4-12 12-12h116v-67c0-10.7 12.9-16 20.5-8.5l99 99c4.7 4.7 4.7 12.3 0 17l-99 99c-7.6 7.6-20.5 2.2-20.5-8.5v-67H140c-6.6 0-12-5.4-12-12z"></path>
      </svg>
    </div>
    <div class="o-filtered-image">
      <div class="aspect--1x1 u-background-image" role='img' aria-label='{{alt}}' style="background-image:url({{src}});"></div>
    </div>
    <div class="tile-link__overlay"></div>
  </a>
{% endmacro %}


{% macro featured_article( kwargs ) %}

  {% set title = kwargs.title ? kwargs.title : kwargs.post.title %}
  {% set title = title|striptags %}
  {% set subTitle = kwargs.subTitle ? kwargs.subTitle : kwargs.post.meta('ucd_subtitle') %}
  {% set href = kwargs.href ? kwargs.href : kwargs.post.link %}
  {% set target = kwargs.newTab ? "target='_blank'" : "" %}

  {% if kwargs.image %}
    {% set src = kwargs.image.src %}
    {% set alt = kwargs.image.alt %}
  {% elseif kwargs.imageId %}
    {% set i = get_post(kwargs.imageId) %}
    {% set src = i.src %}
    {% set alt = i.alt %}
  {% elseif kwargs.post.thumbnail %}
    {% set src = kwargs.post.thumbnail.src %}
    {% set alt = kwargs.post.thumbnail.alt %}
  {% endif %}

  {% if not src %}
    {% set src = DefaultImageByAspectRatio('16x9') %}
  {% endif %}

  {% if alt %}
    {% set alt = alt|striptags %}
  {% endif %}


  {% set classes = 'vm-featured-article' %}
  {% if kwargs.panel %}
    {% set classes = classes ~ " u-space-mb" %}
  {% endif %}
  {% if kwargs.oBox %}
    {% set classes = classes ~ " o-box" %}
  {% endif %}

  <div class='{{classes}}'>
    <a href="{{href}}" {{target}}>
      {% if src %}
      <div class='aspect--16x9'>
        <img src='{{src}}' alt='{{alt}}' />
      </div>
      {% endif %}
      {% if title %}
        <h2 class="vm-featured-article__title">{{title}}</h2>
      {% endif %}
      {% if subTitle %}
        <h3 class="vm-featured-article__subtitle">{{subTitle}}</h3>
      {% endif %}
    </a>
  </div>
{% endmacro %}

{#
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-hero-banner
kwargs:
  post {Timber\Post} - A post on this site.
  imageId {Number} - Id of an image. Will override 'post' featured image
  image {Timber\Image} - A preview image. Will override 'post' featured image and imageId
  title {String} - The card title. Will override 'post' title
  href {String} - Url for card link. Will override 'post' permalink
  newTab {Boolean} - Opens card link in new tab
  excerpt {String} - Body/preview text of card. Will override 'post' excerpt
  buttonText {String} - Innertext of card button
  brandColor {String} - UCD alt color slug
#}
{% macro hero_banner( kwargs ) %}
  {% set title = kwargs.title ? kwargs.title : kwargs.post.title %}
  {% set title = title|striptags %}
  {% set excerpt = kwargs.excerpt ? kwargs.excerpt : kwargs.post.excerpt({ read_more: '' }) %}
  {% set buttonText = kwargs.buttonText ? kwargs.buttonText : "More Info" %}
  {% set href = kwargs.href ? kwargs.href : kwargs.post.link %}
  {% set target = kwargs.newTab ? "target='_blank'" : "" %}

  {% if kwargs.image %}
    {% set src = kwargs.image.src %}
    {% set alt = kwargs.image.alt %}
  {% elseif kwargs.imageId %}
    {% set i = get_post(kwargs.imageId) %}
    {% set src = i.src %}
    {% set alt = i.alt %}
  {% elseif kwargs.post.thumbnail %}
    {% set src = kwargs.post.thumbnail.src %}
    {% set alt = kwargs.post.thumbnail.alt %}
  {% endif %}

  {% if alt %}
    {% set alt = alt|striptags %}
  {% endif %}

  {% set classes = 'hero-banner' %}
  {% if kwargs.brandColor %}
    {% set classes = classes ~ " category-brand--" ~ kwargs.brandColor %}
  {% endif %}
  {% if kwargs.alignment %}
    {% set classes = classes ~ " hero-banner--align-" ~ kwargs.alignment %}
  {% endif %}
  {% if kwargs.panel %}
    {% set classes = classes ~ " panel" %}
  {% endif %}
  {% if kwargs.oBox %}
    {% set classes = classes ~ " o-box" %}
  {% endif %}

  <section class="{{classes}}">
    <div class="hero-banner__image u-background-image" style={{src ? "background-image:url("~src~")": ''}}></div>
    {% if kwargs.brandColor %}
      <div class="hero-banner__film"></div>
    {% endif %}
    <div class="hero-banner__body">
      <div class="hero-banner__title">{{title}}</div>
      <div class="hero-banner__summary">
        <p>{{excerpt}}</p>
      </div>
      <div class="hero-banner__button-group">
        <a class="hero-banner__button" href="{{href}}" {{target}}>{{buttonText}}</a>
      </div>
    </div>
  </section>

{% endmacro %}

{#
http://dev.webstyleguide.ucdavis.edu/redesign/?p=organisms-branding-poster-vm
kwargs:
  post {Timber\Post} - A post on this site.
  imageId {Number} - Id of an image. Will override 'post' featured image
  image {Timber\Image} - A preview image. Will override 'post' featured image and imageId
  title {String} - The card title. Will override 'post' title
  href {String} - Url for card link. Will override 'post' permalink
  newTab {Boolean} - Opens card link in new tab
  excerpt {String} - Body/preview text of card. Will override 'post' excerpt
  brandColor {String} - UCD alt color slug
#}
{% macro poster( kwargs ) %}
  {% set title = kwargs.title ? kwargs.title : kwargs.post.title %}
  {% set title = title|striptags %}
  {% set excerpt = kwargs.excerpt ? kwargs.excerpt : kwargs.post.excerpt({ read_more: '' }) %}
  {% set href = kwargs.href ? kwargs.href : kwargs.post.link %}
  {% set target = kwargs.newTab ? "target='_blank'" : "" %}

  {% if kwargs.image %}
    {% set src = kwargs.image.src %}
    {% set alt = kwargs.image.alt %}
  {% elseif kwargs.imageId %}
    {% set i = get_post(kwargs.imageId) %}
    {% set src = i.src %}
    {% set alt = i.alt %}
  {% elseif kwargs.post.card_image %}
    {% set src = kwargs.post.card_image.src %}
    {% set alt = kwargs.post.card_image.alt %}
  {% endif %}

  {% if not src %}
    {% set src = DefaultImage('poster') %}
  {% endif %}

  {% if alt %}
    {% set alt = alt|striptags %}
  {% endif %}

  {% set classes = 'vm-poster' %}
  {% if kwargs.brandColor %}
    {% set classes = classes ~ " category-brand--" ~ kwargs.brandColor %}
  {% endif %}
  {% if kwargs.panel %}
    {% set classes = classes ~ " panel" %}
  {% endif %}
  {% if kwargs.oBox %}
    {% set classes = classes ~ " o-box" %}
  {% endif %}

  <a href="{{href}}" class="{{classes}}" {{target}}>
   <div class="aspect--16x9 u-background-image" role='img' aria-label='{{alt}}' style="background-image:url({{src}});"></div>
    <div class="vm-poster__body">
      <div class="vm-poster__body-text">
        <h2 class="vm-poster__title">{{title}}</h2>
        <p>{{excerpt}}</p>
      </div>
    </div>
  </a>


{% endmacro %}


{#
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-listing
http://dev.webstyleguide.ucdavis.edu/redesign/?p=organisms-article-list
kwargs:
  post {Timber\Post} - A post on this site.
  imageId {Number} - Id of an image. Will override 'post' featured image
  image {Timber\Image} - A preview image. Will override 'post' featured image and imageId
  title {String} - The card title. Will override 'post' title
  href {String} - Url for card link. Will override 'post' permalink
  newTab {Boolean} - Opens card link in new tab
  hideImage {Boolean} - Hides the image
  hideDate {Boolean} - Hides post date
#}
{% macro listing( kwargs={}) %}
  {% set title = kwargs.title ? kwargs.title : kwargs.post.title %}
  {% set title = title|striptags %}
  {% set href = kwargs.href ? kwargs.href : kwargs.post.link %}
  {% set target = kwargs.newTab ? "target='_blank'" : "" %}

  {% if kwargs.image %}
    {% set src = kwargs.image.src %}
    {% set alt = kwargs.image.alt %}
  {% elseif kwargs.imageId %}
    {% set i = get_post(kwargs.imageId) %}
    {% set src = i.src %}
    {% set alt = i.alt %}
  {% elseif kwargs.post.thumbnail %}
    {% set src = kwargs.post.thumbnail.src %}
    {% set alt = kwargs.post.thumbnail.alt %}
  {% endif %}

  {% if not src %}
    {% set src = DefaultImageByAspectRatio("1x1") %}
  {% endif %}

  {% if alt %}
    {% set alt = alt|striptags %}
  {% endif %}

  <div class="vm-listing">
    {% if not kwargs.hideImage %}
      {% set imgContainerStyles = "width: 135px;height: 135px;min-width: 135px;min-height: 135px;" %}
      {% set imgStyles = "width: 100%;height: 100%;object-fit: cover;" %}
      <div class="vm-listing__figure" style="{{imgContainerStyles}}">
        <a href="{{href}}">
          <img src="{{src}}" alt="{{alt}}" style="{{imgStyles}}" width="135" height="135" loading="lazy" />
        </a>
      </div>
    {% endif %}
    <div class="vm-listing__body">
      <h3 class="vm-listing__title"><a href="{{ href }}">{{ title }}</a></h3>
      {% if kwargs.post and not hideDate %}
         <div class="vm-listing__submitted">{{kwargs.post.date}}</div>
      {% endif %}
    </div>
  </div>

{% endmacro %}

{#
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-search-result
kwargs:
  post {Timber\Post} - A post on this site.
  title {String} - The card title. Will override 'post' title
  href {String} - Url for card link. Will override 'post' permalink
  excerpt {String} - Body/preview text of card. Will override 'post' excerpt
  hideByline {Boolean} - Hides the byline
#}
{% macro search_result( kwargs = {} ) %}
  {% set title = kwargs.title ? kwargs.title : kwargs.post.title %}
  {% set title = title|striptags %}
  {% set excerpt = kwargs.excerpt ? kwargs.excerpt : kwargs.post.excerpt({ read_more: '' }) %}
  {% set href = kwargs.href ? kwargs.href : kwargs.post.link %}
  {% if kwargs.post.author.first_name and kwargs.post.author.last_name %}
    {% set author = kwargs.post.author.first_name ~ " " ~ kwargs.post.author.last_name %}
  {% else %}
    {% set author = kwargs.post.author.name %}
  {% endif %}

  <div class="search-result">
    <h3 class="search-result__title"><a href="{{ href }}">{{ title }}</a></h3>
    <p>{{excerpt}}</p>
    {% if author and not kwargs.hideByline %}
      <div class="search-result__info">by {{author}} | {{kwargs.post.date}}</div>
    {% endif %}
  </div>

{% endmacro %}

{#
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-panel
kwargs:
  attributes:
    icon {String} - ucdlib-icon icon attribute
    title {String} - Header text
    href {String} - Url for 'see more' link
    moreText {String} - Text of 'see-more' link
    newTab {String} - Opens 'see-more' link in new tab
    hideMoreLink {Boolean} - Hides the 'see-more' link
    brandColor {String} - UCD alt color slug
    padding {String} - o-box class modifier
  content {WP Blocks}: Innerblocks to display in panel body
#}
{% macro panel_with_icon( kwargs={} ) %}
  {% set attributes = kwargs.attributes %}
  {% set content = kwargs.content %}

  {% set classes = ['panel', 'panel--icon', 'panel--icon-custom', 'o-box'] %}
  {% if attributes.padding %}
    {% set classes = classes|merge(['o-box--'~attributes.padding])%}
  {% endif %}

  {% set icon = attributes.icon ? attributes.icon : 'ucd-public:fa-star' %}

  {% set moreText = attributes.moreText ? attributes.moreText : 'See More' %}
  {% set target = kwargs.newTab ? "target='_blank'" : "" %}

  <div class="{{classes|join(' ')}}">
    <h2 class="panel__title">
      <ucdlib-icon icon="{{icon}}" class="panel__custom-icon {{attributes.brandColor}}"></ucdlib-icon>{{attributes.title}}
    </h2>
    <section>
      {{content}}
      {% if not attributes.hideMoreLink %}
        <a class="icon-ucdlib" href="{{attributes.href}}" {{target}}>
          <ucdlib-icon class="{{attributes.brandColor ? attributes.brandColor}}" icon="ucd-public:fa-circle-chevron-right"></ucdlib-icon>
          <span>{{moreText}}</span>
        </a>
      {% endif %}
    </section>
  </div>
{% endmacro %}
