{# This file contains functions to display stylized links #}

{# Constructs a link styled like a button
http://dev.webstyleguide.ucdavis.edu/redesign/?p=viewall-atoms-buttons
kwargs:
  content (string) - link text - required.
  href (string) - link url
  newTab (boolean) - link will open in new tab
  modifiers (string) - space delimited list of style modifiers without the btn-- prefix. 
    Takes precedence over the following individually listed modifiers:
  size (string) - size modifier
  shape (string) - shape modifier
  display (string) - display modifier
  altStyle (string) - alternative theme style modifier

#}
{% macro button(kwargs) %}

  {% if kwargs is iterable and kwargs.content %}
    {% set classes = "btn" %}

    {% if kwargs.href %}
      {% set href = "href='"~kwargs.href~"'" %}
    {% endif %}

    {% if kwargs.textAlign and kwargs.textAlign != 'left' %}
      {% set pClasses = "u-text-align--"~kwargs.textAlign %}
    {% endif %}

    {% if kwargs.newTab %}
      {% set target = "target='_blank'" %}
    {% endif %}

    {% if kwargs.modifiers %}
      {% set classes = classes ~ " " ~ kwargs.modifiers|split(" ")|map(m => "btn--"~m)|join(" ") %}
    {% else %}
      {% for m in [kwargs.size, kwargs.shape, kwargs.display, kwargs.altStyle] %}
        {% if m %}
          {% set classes = classes ~ " btn--" ~ m %}
        {% endif %}
      {% endfor %}
      {% if kwargs.className %}
        {% set classes = classes ~ " btn--" ~ kwargs.className|replace({'is-style-': ''}) %}
      {% endif %}
    {% endif %}

    <p {{pClasses ? 'class="'~pClasses~'"' : ''}}>
      <a {{href}} {{target}} class="{{classes}}">{{kwargs.content}}</a>
    </p>
  {% endif %}
  
{% endmacro %}

{#
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-marketing-highlight-horizontal
kwargs:
  post {Timber\Post} - A post on this site.
  imageId {Number} - Id of an image. Will override 'post' featured image
  image {Timber\Image} - A preview image. Will override 'post' featured image and imageId
  title {String} - The card title. Will override 'post' title
  hideTitle {Boolean} - Hides the card title.
  href {String} - Url for card link. Will override 'post' permalink
  newTab {Boolean} - Opens card link in new tab
  brandColor {String} - UCD alt color slug
#}
{% macro marketing_highlight_horizontal( kwargs ) %}

  {% set title = kwargs.title ? kwargs.title : kwargs.post.title %}
  {% set href = kwargs.href ? kwargs.href : kwargs.post.link %}
  {% set target = kwargs.newTab ? "target='_blank'" : "" %}

  {% if kwargs.image %}
    {% set src = kwargs.image.src %}
    {% set alt = kwargs.image.alt %}
  {% elseif kwargs.imageId %}
    {% set i = get_post(kwargs.imageId) %}
    {% set src = i.src %}
    {% set alt = i.alt %}
  {% elseif kwargs.post.thumbnail %}
    {% set src = kwargs.post.thumbnail.src %}
    {% set alt = kwargs.post.thumbnail.alt %}
  {% else %}
    {% set src = DefaultImage('marketing-highlight-horizontal') %}
  {% endif %}
   

  {% set classes = 'marketing-highlight-horizontal' %}
  {% if kwargs.brandColor %}
    {% set classes = classes ~ " category-brand--" ~ kwargs.brandColor %}
  {% endif %}
  {% if kwargs.panel %}
    {% set classes = classes ~ " panel" %}
  {% endif %}
  {% if kwargs.oBox %}
    {% set classes = classes ~ " o-box" %}
  {% endif %}


  <a href="{{href}}" class="{{classes}}" {{target}}>
    <div class="marketing-highlight-horizontal__image">
      <div class="aspect--16x9 u-background-image" role='img' aria-label='{{alt}}' style="background-image:url({{src}});"></div>
    </div>
    {% if not kwargs.hideTitle %}
      <div class="marketing-highlight-horizontal__body">
        <h3 class="marketing-highlight-horizontal__title">{{title}}</h3>
      </div>
    {% endif %}
  </a>
{% endmacro %}

{# 
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-tags
kwargs:
  term: {Timber\Term} - A term on this site
  text: {String} - Link text - will override term name
  href: {String} - Link url - will override term url
#}
{% macro tag( kwargs={} ) %}

  {% if kwargs.term %}
    {% set text = kwargs.term.name %}
    {% set href = kwargs.term.link %}
  {% endif %}

  {% if kwargs.text %}
    {% set text = kwargs.text %}
  {% endif %}

  {% if kwargs.href %}
    {% set href = kwargs.href %}
  {% endif %}

  {% if text and href %}
    <a href="{{ href }}" class="tags__tag">{{ text }}</a>
  {% endif %}

{% endmacro %}

{# 
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-tags
kwargs:
  terms: {Array of Timber\Term} - Terms on this site
#}
{% macro tag_list( kwargs={} ) %}
  {% if kwargs.terms is iterable %}
    {% for term in kwargs.terms %}
      {{ _self.tag({term}) }}
    {% endfor %}
  {% endif %}
{% endmacro %}

{#
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-category-filter
kwargs:
  terms: {Array of Timber\Term} - Terms on this site
  queriedTerm: {Timber\Term} - The current queried term
#}
{% macro category_filter( kwargs={} ) %}
  
  {% if kwargs.terms is iterable %}
    <ul class="category-filter">
      {% for term in kwargs.terms %}
        {% set isActiveLink = false %}
        {% set brandColor = term.meta('brand-color') %}
        {% if kwargs.queriedTerm %}
          {% if term.taxonomy == kwargs.queriedTerm.taxonomy and term.term_id == kwargs.queriedTerm.term_id %}
            {% set isActiveLink = true %}
          {% endif %}
        {% endif %}
        <li class="category-filter__list-item {{isActiveLink ? 'category-filter__list-item--active'}} {{ brandColor ? 'category-brand--'~brandColor }}">
          <a href="{{ term.link }}" class="category-filter__link">{{ term.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{# 
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-pagination
kwargs:
  pagination { Timber\Pagination } - Pagination object
#}
{% macro pagination( kwargs={} ) %}
  {% if kwargs.pagination %}
    {% set pagination = kwargs.pagination %}
  {% else %}
    {% set pagination = kwargs %}
  {% endif %}

  {% if pagination and pagination.pages is not empty %}
    {% set pagenum_link = pagination.pages|pagenum_link %}
    <ucd-theme-pagination
      current-page="{{pagination.current}}"
      max-pages="{{pagination.pages|last.name}}"
      base-path="{{pagenum_link.path ~ 'page/'}}"
      query-params="{{pagenum_link.query}}"
      xs-screen
      ellipses>
    </ucd-theme-pagination>
  {% endif %}
{% endmacro %}

{# 
http://dev.webstyleguide.ucdavis.edu/redesign/?p=organisms-article-list
kwargs:
  href {String}: link
  text: {String}: link text
  brandColor {String} - UCD alt color slug
#}
{% macro view_all( kwargs={} ) %}
  {% set text = kwargs.text ? kwargs.text : 'View All' %}
  {% set classes = 'icon icon--circle-arrow-right' %}
  {% if kwargs.brandColor %}
    {% set classes = classes ~ ' category-brand--' ~ kwargs.brandColor %}
  {% endif %}

  {% if kwargs.href %}
    <a href="{{ kwargs.href }}" class="{{ classes }}">{{ text }}</a>
  {% endif %}
{% endmacro %}

{# 
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-vertical-link-icon-circle
kwargs:
  href {String}: link
  icon {String}: icon parameter of a ucdlib-icon element
  text {String}: Text to display below icon
  brandColor {String} - UCD alt color slug
  newTab {Boolean} - If link opens in new tab
#}
{% macro priority_link( kwargs={} ) %}
  {% set classes = ['vertical-link', 'vertical-link--circle'] %}
  {% if kwargs.brandColor %}
    {% set classes = classes|merge(['category-brand--' ~ kwargs.brandColor]) %}
  {% endif %}
  {% set classes = classes|join(' ') %}

  {% set target = kwargs.newTab ? "target='_blank'" : "" %}

  <a class="{{classes}}" href="{{kwargs.href}}" {{target}}>
    <div class="vertical-link__figure">
      {% if kwargs.icon %}
        <ucdlib-icon class="vertical-link__image" icon="{{kwargs.icon}}"></ucdlib-icon>
      {% endif %}
    </div>
    {% if kwargs.text %}
      <div class="vertical-link__title">{{kwargs.text}}</div>
    {% endif %}
  </a>
{% endmacro %}

{# 
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-focal-link-icon
kwargs:
  href {String}: link
  icon {String}: icon parameter of a ucdlib-icon element
  text {String}: Text to display below icon
  brandColor {String} - UCD alt color slug
  newTab {Boolean} - If link opens in new tab
#}
{% macro focal_link( kwargs={} ) %}
  {% set classes = ['focal-link'] %}
  {% if kwargs.brandColor %}
    {% set classes = classes|merge(['category-brand--' ~ kwargs.brandColor]) %}
  {% endif %}
  {% set classes = classes|join(' ') %}

  {% set target = kwargs.newTab ? "target='_blank'" : "" %}

  <a class="{{classes}}" href="{{kwargs.href}}" {{target}}>
    <div class="focal-link__figure focal-link__icon">
      {% if kwargs.icon %}
        <ucdlib-icon icon="{{kwargs.icon}}"></ucdlib-icon>
      {% endif %}
    </div>
    {% if kwargs.text %}
      <div class="focal-link__body"><strong>{{kwargs.text}}</strong></div>
    {% endif %}
  </a>
{% endmacro %}

{#
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-breadcrumbs
crumbs (array): result of UcdThemePost->breadcrumbs()
 #}
{% macro breadcrumbs( crumbs ) %}
{% if crumbs %}
  <ol class="breadcrumbs">
    {% for crumb in crumbs %}
      <li>
        {% if loop.last %}
          {{crumb.title}}
        {% else %}
          <a href="{{crumb.link}}">{{crumb.title}}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
{% endif %}
{% endmacro %}

{# 
Renders a link with a little icon inlined before it
kwargs:
  href {String}: link
  icon {String}: icon parameter of a ucdlib-icon element
  text {String}: Text to display below icon
  brandColor {String} - UCD alt color slug
  newTab {Boolean} - If link opens in new tab
#}
{% macro prefixed_icon_link( kwargs={} ) %}
  {% set classes = ['icon-ucdlib'] %}
  {% if kwargs.brandColor %}
    {% set classes = classes|merge(['category-brand--' ~ kwargs.brandColor]) %}
  {% endif %}
  {% set classes = classes|join(' ') %}

  {% set icon = 'ucd-public:fa-circle-chevron-right' %}
  {% if kwargs.icon %}
    {% set icon = kwargs.icon %}
  {% endif %}

  {% set target = kwargs.newTab ? "target='_blank'" : "" %}

  <a class="{{classes}}" href="{{kwargs.href}}" {{target}}>
    <ucdlib-icon icon="{{icon}}"></ucdlib-icon>
    <div>{{kwargs.text}}</div>
  </a>
{% endmacro %}