{# This file contains functions to display media #}

{# 
http://dev.webstyleguide.ucdavis.edu/redesign/?p=atoms-landscape-16x9
http://dev.webstyleguide.ucdavis.edu/redesign/?p=atoms-landscape-4x3
kwargs:
  image {Timber\Image} - An image object. Takes precendence over ImageId
  imageId {Number} - WP Media ID
  aspectRatio {String} - A recognized aspect ratio in format wxh
#}
{% macro image_landscape(kwargs={}) %}
  
  {% if kwargs.image %}
    {% set src = kwargs.image.src %}
    {% set alt = kwargs.image.alt %}
    {% set caption = kwargs.image.post_excerpt %}
  {% elseif kwargs.imageId %}
    {% set i = get_post(kwargs.imageId) %}
    {% set src = i.src %}
    {% set alt = i.alt %}
    {% set caption = i.post_excerpt %}
  {% else %}
    {% set src = DefaultImageByAspectRatio(kwargs.aspectRatio) %}
    {% set alt = "" %}
    {% set caption = "" %}
  {% endif %}

  {% if alt %}
    {% set alt = alt|striptags %}
  {% endif %}


  {% set target = kwargs.newTab ? "target='_blank'" : "" %}
  {% if attributes.permalink %}
    {% set kwargs = kwargs|merge({'href': kwargs.permalink}) %}
  {% endif %}
  {% set href = kwargs.href ? "href='" ~ kwargs.href ~ "'" %}

  {% set width = "640" %}
  {% set height = "480" %}
  {% set aspectRatio = '4x3' %}
  {% if kwargs.aspectRatio == '16x9' %}
    {% set width = "1280" %}
    {% set height = "720" %}
    {% set aspectRatio = '16x9' %}
  {% endif %}

  {% if kwargs.caption.customText %}
    {% set caption = kwargs.caption.customText %}
  {% endif %}

  {% set classes = "" %}
  {% if kwargs.panel %}
    {% set classes = classes ~ " u-space-mb" %}
  {% endif %}
  {% if kwargs.oBox %}
    {% set classes = classes ~ " o-box" %}
  {% endif %}

  <div class="{{classes}}">
    <figure style="display:block;">
      <div 
        class="aspect--{{aspectRatio}} u-background-image"
        style="background-image:url({{src}}}"
        {{target}}
        {{href}}
        role="img"
        aria-label="{{alt}}">
      </div>
      {% if kwargs.caption.show and caption %}
        <figcaption style="display:block;">{{caption}}</figcaption>
      {% endif %}
      
    </figure>
  </div>

  {# 
  <div class="aspect--{{kwargs.aspectRatio}}">
    <img src="{{src}}" alt="{{alt}}" width="{{width}}" height="{{height}}" loading="lazy" />
  </div>
  #}

{% endmacro %}

{# 
http://dev.webstyleguide.ucdavis.edu/redesign/?p=atoms-title-banner
#}
{% macro image_title_banner(image) %}
  {% if image %}
      {% if image.src %}
        <div class="aspect--13x3 u-background-image" style="background-image:url({{image.src}});">
        </div>
      {% endif %}
    {#
    {% if banner %}
     {% set banner = imgTitleBanner(image) %}
      <div class="aspect--13x3">
        <img src="{{banner.src}}" alt="{{banner.alt}}" srcset="{{banner.srcset}}" sizes="{{banner.sizes}}" />
      </div>
    {% endif %}
    #}
  {% endif %}
{% endmacro %}