{# This file contains functions to display site menus #}

{# 
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-primary-nav
https://ucdlib-theme-demo-akwemh35fa-uc.a.run.app/#ucd-theme-primary-nav
kwargs:
  menu {Timber\Menu} - A registered Timber Menu
  navType {String} - Component attribute
  styleModifiers {String} - Component attribute
#}
{% macro primary_nav(kwargs={}) %}
  {% if kwargs.menu %}
    {% set navType = kwargs.navType ? "nav-type='" ~ kwargs.navType ~ "'" : "" %}
    {% set styleModifiers = kwargs.styleModifiers ? "style-modifiers='" ~ kwargs.styleModifiers ~ "'" : "" %}

    <ucd-theme-primary-nav {{navType}} {{styleModifiers}}>
      {% for item in kwargs.menu.items %}
        
        {% if item.children %}
          <ul link-text="{{item.title}}" href="{{item.link}}">
          {% for child in item.children %}

            {% if child.children and kwargs.navType != "mega" %}
              <ul link-text="{{child.title}}" href="{{child.link}}">
                {% for grandchild in child.children %}
                  <li><a href="{{ grandchild.link }}" {{ grandchild.is_target_blank ? 'target="_blank"' }}>{{ grandchild.title }}</a></li>
                {% endfor %}
              </ul>

            {% else %}
              <li><a href="{{ child.link }}" {{ child.is_target_blank ? 'target="_blank"' }}>{{ child.title }}</a></li>
            {% endif %}

          {% endfor %}
          </ul>

        {% else %}
          <a href="{{ item.link }}" {{ item.is_target_blank ? 'target="_blank"' }}>{{ item.title }}</a>
        {% endif %}
        
      {% endfor %}

    </ucd-theme-primary-nav>
  {% endif %}
{% endmacro %}

{# 
Renders a series of 'a' tags in a format expected by ucdlib navigation elements
kwargs: 
  menu {Timber\Menu} - A registered Timber Menu
#}
{% macro flat_list(kwargs={}) %}
 
 {% if kwargs.menu %}
  {% for item in kwargs.menu.items %}
    <a href="{{ item.link }}" {{ item.is_target_blank ? 'target="_blank"' }}>{{ item.title }}</a>
  {% endfor %}
 {% endif %}

{% endmacro %}

{# 
Renders a footer nav.
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-footer-nav
kwargs: 
  menu {Timber\Menu} - A registered Timber Menu
#}
{% macro footer_nav(kwargs={}) %}
  {% if kwargs.menu %}
    <div class="footer-nav">
      <ul class="menu">
        {% for item in kwargs.menu.items %}
          <li>
            <a href="{{ item.link }}" {{ item.is_target_blank ? 'target="_blank"' }}>{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}

{# 
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-info-copyright
kwargs: 
  menu {Timber\Menu} - A registered Timber Menu
#}
{% macro list_pipe(kwargs={}) %}
  {% if kwargs.menu %}
      <ul class="list--pipe">
        {% for item in kwargs.menu.items %}
          <li>
            <a href="{{ item.link }}" {{ item.is_target_blank ? 'target="_blank"' }}>{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
  {% endif %}
{% endmacro %}