{# This file contains functions to display site menus #}

{# 
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-primary-nav
https://ucdlib-theme-demo-akwemh35fa-uc.a.run.app/#ucd-theme-primary-nav
kwargs:
  menu {Timber\Menu} - A registered Timber Menu
  navType {String} - Component attribute
  styleModifiers {String} - Component attribute
#}
{% macro primary_nav(kwargs={}) %}
  {% if kwargs.menu %}
    {% set navType = kwargs.navType ? "nav-type='" ~ kwargs.navType ~ "'" : "" %}
    {% set styleModifiers = kwargs.styleModifiers ? "style-modifiers='" ~ kwargs.styleModifiers ~ "'" : "" %}
    <ucd-theme-primary-nav {{navType}} {{styleModifiers}}>
      {{ _self._wp_menu_to_ucd_menu(kwargs.menu.items, kwargs.navType != "mega")}}
    </ucd-theme-primary-nav>
  {% endif %}
{% endmacro %}

{# 
Renders a series of 'a' tags in a format expected by ucdlib navigation elements
kwargs: 
  menu {Timber\Menu} - A registered Timber Menu
#}
{% macro flat_list(kwargs={}) %}
 
 {% if kwargs.menu %}
  {% for item in kwargs.menu.items %}
    <a href="{{ item.link }}" {{ item.is_target_blank ? 'target="_blank"' }}>{{ item.title }}</a>
  {% endfor %}
 {% endif %}

{% endmacro %}

{# 
Renders a footer nav.
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-footer-nav
kwargs: 
  menu {Timber\Menu} - A registered Timber Menu
#}
{% macro footer_nav(kwargs={}) %}
  {% if kwargs.menu %}
    <div class="footer-nav">
      <ul class="menu">
        {% for item in kwargs.menu.items %}
          <li>
            <a href="{{ item.link }}" {{ item.is_target_blank ? 'target="_blank"' }}>{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}

{# 
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-info-copyright
kwargs: 
  menu {Timber\Menu} - A registered Timber Menu
#}
{% macro list_pipe(kwargs={}) %}
  {% if kwargs.menu %}
      <ul class="list--pipe">
        {% for item in kwargs.menu.items %}
          <li>
            <a href="{{ item.link }}" {{ item.is_target_blank ? 'target="_blank"' }}>{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
  {% endif %}
{% endmacro %}

{# 
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-sub-nav
kwargs:
  items {Array of Timber\MenuItem} - A list of links to display
  title {String} - An optional menu title to display
  titleLink {String} - An optional href for the menu title
#}
{% macro subnav( kwargs={} ) %}

  {% set show_grandchildren = true %}
  {% if kwargs.items %}
    {% set items = kwargs.items %}
    {% set title = kwargs.title %}
    {% set link = kwargs.titleLink %}
    {% if kwargs.show_grandchildren is defined %}
      {% set show_grandchildren = kwargs.show_grandchildren %}
    {% endif %}
    {% if kwargs.show_children is defined %}
      {% set show_children = kwargs.show_children %}
    {% endif %}
  {% elseif kwargs %}
    {% set items = kwargs %}
  {% endif %}

{% set classes = "" %}
{% if kwargs.panel %}
  {% set classes = classes ~ " panel" %}
{% endif %}
{% if kwargs.oBox %}
  {% set classes = classes ~ " o-box" %}
{% endif %}

  <ucd-theme-subnav class="{{classes}}" nav-title="{{title}}" title-href="{{link}}">
    {{ _self._wp_menu_to_ucd_menu(items, show_grandchildren, show_children) }}
  </ucd-theme-subnav>

{% endmacro %}

{# utility function for converting timber menuitems to children for slotting into ucd theme navs #}
{% macro _wp_menu_to_ucd_menu( items=[], show_grandchildren=true, show_children=true ) %}
  {% for item in items %}
    
    {% if item.children and show_children %}
      <ul link-text="{{item.title}}" href="{{item.link}}">
      {% for child in item.children %}

        {% if child.children and show_grandchildren %}
          <ul link-text="{{child.title}}" href="{{child.link}}">
            {% for grandchild in child.children %}
              <li><a href="{{ grandchild.link }}" {{ grandchild.is_target_blank ? 'target="_blank"' }}>{{ grandchild.title }}</a></li>
            {% endfor %}
          </ul>

        {% else %}
          <li><a href="{{ child.link }}" {{ child.is_target_blank ? 'target="_blank"' }}>{{ child.title }}</a></li>
        {% endif %}

      {% endfor %}
      </ul>

    {% else %}
      <a href="{{ item.link }}" {{ item.is_target_blank ? 'target="_blank"' }}>{{ item.title }}</a>
    {% endif %}
    
  {% endfor %}
{% endmacro %}